.error-page {
  height: 100vh;
  padding: 2rem;
  background: #f9fafb;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  justify-items: center;
  align-content: center;
  gap: 1rem;
}

.not-found-display {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.not-found-display .status-code {
  color: #1d2939;
  font-weight: 600;
  font-size: 8rem;
  line-height: 8rem;
}

.not-found-display h3 .status-text {
  color: #1d2939;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

.not-found-display .error-message {
  color: #667085;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}

.loading-display {
  display: grid;
  justify-items: center;
}

.loading-display .loading-message {
  color: #1d2939;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.125rem;
}
